<!DOCTYPE html>
<html lang="en">
<head>
<title>bKash</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="assets/sowmmo_style.css">
    <link rel="icon" type="image/x-icon" href="assets/fav.png">
    <script type="text/javascript" src="assets/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/webview_bridge.js"></script>
    
    <meta name="theme-color" content="#e2136e">
    <meta property="og:title" content="Listen to quality music in bKash App">
    <meta property="og:description" content="Download bKash App today, and lift your mood up with quality music.">
    <meta property="og:image" content="assets/thumb.png">
</head>
    
<body style="background-color: white;" >

<div class="container">
     <div class="row">
    <div class="col-sm-12">
        <img src="assets/404.png" class="img-fluid" style="padding-top: 4%; max-width: 100%">
    </div>
    </div>
    <div class="row">
    <div class="col-sm-12">
        <p style="text-align: center; padding-top: 5%;padding-left: 5%;padding-right: 5%">একটি সমস্যা হয়েছে।<br>অনুগ্রহ করে আবার চেষ্টা করুন</p>
    </div>
    </div>
    
     <button type="button" class="btn btn_act" onclick="window.webViewJSBridge.goBackHome('Tickets')" >বিকাশ অ্যাপ হোম-এ ফিরে যাই<img src="assets/arrow.svg" style="float: right;margin-top: 1%"> </button> 
</div>
       

</body>
</html>
