<!DOCTYPE html>
<html lang="en">
<head>
<title>bKash Limited</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/525f9347e5.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="assets/fav.png">
    <script src="assets/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/webview_bridge.js"></script>
    <link rel="stylesheet" href="assets/sowmmo_style.css">
    <meta name="theme-color" content="#E2136E">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="assets/thumb.png">
 
    
</head>
    
<body style="background-color: #white;" >

<div class="container">
<div class="jumbotron" style="background-color: white;">
<div class="row">
    <div class="col-sm-12">
<!--        Code goes here-->
       
        <img src="assets/placeholder.svg" width=100%;>
 
    </div>
 
</div>
</div>
</div>   
<!-- Confirm Button-->        
    <button type="button" class="btn btn_act" onclick="window.webViewJSBridge.goBackHome('Tickets')" >Back to bKash App Home <img src="assets/arrow.svg" style="float: right;margin-top: 1%"> </button> 
 
</body>
</html>
